<%- include('../include/admin-header') %>

    <div class="bg-white">
        <div class="admin-templates-container" style="min-height: 400px;">

            <div class="d-flex justify-content-end">


                <div class="d-none btn btn-sm btn-dark" id="close-form">Close Form
                </div>
                <div class="btn btn-sm btn-success" id="certificate-templates-form-btn">+ Add Certificate
                    Templates
                </div>
                <div class="btn btn-sm btn-success" id="school-templates-form-btn">+ Add School
                    Templates
                </div>
            </div>

            <div class="d-none" id="certificate-template-form">
                <div class=" d-flex justify-content-center bg-light p-1 m-1">
                    <form action="/add-template" method="POST" enctype="multipart/form-data">

                        <div
                            class="d-flex gap-20 justify-content-between flex-direction-column align-items-start form my-1">
                            <h3> Add Certificate Template</h3>
                            <div class="d-flex flex-direction-column align-items-start">
                                <label for="">Template Name</label>
                                <input required name="template_name" type="text" placeholder="Template Name"
                                    autocomplete="off" value="" id="template-name" />
                            </div>
                            <div class="d-flex flex-direction-column align-items-start">
                                <label for="">Template Description</label>

                                <input required name="template_description" type="text"
                                    placeholder="Template Description" id="template-description" autocomplete="off"
                                    value="" />
                            </div>



                            <div class="d-flex flex-direction-column align-items-start custom-file-upload ">
                                <label for=""> Thumbnail image</label>

                                <input required type="file" name="thumbnail_image" accept='image/*'
                                    onchange="checkFile(this,this.files,40000)" />

                            </div>
                            <div class="d-flex flex-direction-column align-items-start custom-file-upload ">
                                <label for=""> Modal Image</label>

                                <input required type="file" name="modal_image" accept='image/*'
                                    onchange="checkFile(this,this.files,100000)" />

                            </div>



                            <input type="hidden" name="canvas_image" id="canvas_image">
                            <img src="" width="280" id="canvas-image-view" alt="">
                            <div class="d-flex flex-direction-column align-items-start custom-file-upload">
                                <label for=""> Upload Json File</label>
                                <input type="hidden" name="json_file" class="json_file">
                                <input required type="file" class="json-file-input" accept='application/JSON' />

                            </div>
                            <input type="hidden" name="category" value="certificate">
                            <input type="hidden" name="table" value="true">

                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <div>
                                <button type="submit" id="" class="btn btn-md btn-dark template-btn">sumbit
                                    Template</button>

                            </div>


                        </div>
                    </form>
                </div>
            </div>
            <div class="d-none" id="school-template-form">
                <div class=" d-flex justify-content-center bg-light p-1 m-1">
                    <form action="/add-template" method="POST" enctype="multipart/form-data">

                        <div
                            class="d-flex gap-20 justify-content-between flex-direction-column align-items-start form my-1">
                            <h3> Add School Template</h3>

                            <div class="d-flex flex-direction-column align-items-start">
                                <label for="">Template Name</label>
                                <input required name="template_name" type="text" placeholder="Template Name"
                                    autocomplete="off" value="" id="template-name" />
                            </div>
                            <div class="d-flex flex-direction-column align-items-start">
                                <label for="">Template Description</label>

                                <input required name="template_description" type="text"
                                    placeholder="Template Description" id="template-description" autocomplete="off"
                                    value="" />
                            </div>



                            <div class="d-flex flex-direction-column align-items-start custom-file-upload ">
                                <label for=""> Thumbnail image</label>

                                <input required type="file" name="thumbnail_image" accept='image/*'
                                    onchange="checkFile(this,this.files,40000)" />

                            </div>
                            <div class="d-flex flex-direction-column align-items-start custom-file-upload ">
                                <label for=""> Modal Image</label>

                                <input required type="file" name="modal_image" accept='image/*'
                                    onchange="checkFile(this,this.files,100000)" />

                            </div>



                            <input type="hidden" name="canvas_image" id="canvas_image">
                            <img src="" width="280" id="canvas-image-view" alt="">
                            <div class="d-flex flex-direction-column align-items-start custom-file-upload">
                                <label for=""> Upload Json File</label>
                                <input type="hidden" name="json_file" class="json_file">
                                <input required type="file" class="json-file-input" accept='application/JSON' />

                            </div>
                            <input type="hidden" name="category" value="certificate">
                            <input type="hidden" name="table" value="false">

                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <div>
                                <button type="submit" id="" class="btn btn-md btn-dark template-btn">sumbit
                                    Template</button>

                            </div>


                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <h3>Certificate and school Templates</h3>
            </div>
            <div class="admin-templates" style="width: 100%;">
                <% data.forEach((data)=>{%>
                    <div class="d-flex  align-items-start  flex-direction-column  m-1 template-container">
                        <div class=" d-flex  align-items-start flex-direction-column">
                            <a href="/canvas-test?template_id=<%= data.template_id %> " class="text text-dark"
                                target="_blank">
                                <img class="thumbnail" src="images/canvas_image/<%= data.thumbnail %>" width="170"
                                    alt="">


                            </a>


                            <h3 class="title text text-dark ">
                                <%= data.template_name %>
                            </h3>

                            <span style="display:none" class="description">
                                <%= data.template_description %>
                            </span>

                            <input type="hidden" class="template-id" value="<%= data.template_id %>">

                        </div>



                        <div class="option">
                            <img src="images/list.png" class="hover-opactiy gear-option" width="20" alt="">
                            <div class="container"></div>

                            <div class="option-list-container">
                                <div class="opt-list">
                                    <a href="/canvas-test?template_id=<%= data.template_id %> " class="text text-dark"
                                        target="_blank">
                                        Edit Canvas
                                    </a>
                                </div>




                                <div class="  opt-list edit-template">
                                    Edit details
                                </div>
                                <div class="opt-list publish-btn">

                                    <%= data.live=='true' ? 'Unpublished' :'Publish' %>



                                </div>
                                <input type="hidden" id="published_status"
                                    value="<%= data.live == 'true' ?  'false':'true' %>">
                            </div>


                        </div>


                        <small id="status" class="<%= data.live == 'true' ?  'live':'not-live' %>">
                            <%= data.live=='true' ? 'Live' :'Hidden' %>
                        </small>
                        <!-- edit temmplate modal -->
                        <div class="modal-edit-admin">
                            <form action="/updateTemplate" method="POST" enctype="multipart/form-data">

                                <div class="modal-content">


                                    <div>
                                        <input type="text" name="template_name" class="modal-title">
                                    </div>
                                    <div>
                                        <textarea name="template_description" class="description"></textarea>
                                    </div>
                                    <input type="hidden" name="template_id" class="template_id">




                                    <div
                                        class="d-flex flex-direction-column justify-content-start align-items-start gap-10">
                                        <label for="">Thumbnail</label>
                                        <input type="file" name="thumbnail_image" class="thumbnail-image p-1"
                                            onchange="checkFile(this,this.files,40000)">
                                        <img class="display_thumbnail" width="200" src="" alt="">
                                        <input type="hidden" name="thumbnail_image_path" value="<%=data.thumbnail%>"
                                            class="thumbnail_image_path">
                                        <input type="hidden" value="<%=data.category%>" class="category">
                                    </div>



                                    <div
                                        class="d-flex flex-direction-column justify-content-start align-items-start gap-10">
                                        <label for="">Modal Image</label>
                                        <input type="file" name="modal_image" class="modal-image p-1"
                                            onchange="checkFile(this,this.files,100000)">

                                        <img class="display_modal_image" width="200"
                                            src="images/canvas_image/<%= data.modal_image %>" alt="">

                                        <input type="hidden" name="modal_image_path" value="<%=data.modal_image%>"
                                            class="modal_image_path">


                                    </div>
                                    <div
                                        class="d-flex flex-direction-column justify-content-start align-items-start gap-10">
                                        <label for="">Json File</label>
                                        <input type="file" class="json-file p-1">
                                    </div>

                                    <input type="hidden" name="template_json" class="json-text">

                                    <input type="hidden" name="category" value="certificate">





                                    <div class="button-container">
                                        <div>
                                            <div class="delete-template-btn">
                                                Delete Template
                                            </div>
                                        </div>
                                        <div>
                                            <div class="btn btn-sm btn-danger text text-white cancel-btn">Cancel
                                                Changes
                                            </div>
                                            <input type="submit" class="btn btn-sm btn-success update-template-btn"
                                                value="Save changes">

                                        </div>

                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>


                    <% }) %>


            </div>


        </div>


    </div>
    <script>
        function checkFile(element, files, size) {


            var file = files[0];
            console.log(file.size);
            // Check if the file size is within the allowed limit
            if (file.size > size) {

                element.value = ''
                alert("File is too large! Please select a file smaller file.");

                return false;
            }
        }

    </script>

    <%- include('../include/admin-footer') %>