<%- include('../include/admin-header') %>

    <div class="bg-white">
        <div class="admin-templates-container" style="min-height: 400px;">

            <div class="d-flex justify-content-end">

                <input id="admin-remove" type="submit" class="btn btn-sm btn-danger text text-white"
                    value="removed saved Templates">

                <div class="btn btn-sm btn-success" id="display-add-templates-form-btn">+ Add Templates</div>

            </div>
            <div class="admin-message btn btn-md btn-success" style="display: none;width: 300px;"></div>
            <div class="hide" id="template-form">
                <div class=" d-flex justify-content-center bg-light p-1 m-1">
                    <form action="/add-template" method="POST" enctype="multipart/form-data"
                        class="add-templates-form ">

                        <div
                            class="d-flex gap-20 justify-content-between flex-direction-column align-items-start form my-1">
                            <div class="d-flex flex-direction-column align-items-start">
                                <label for="">Template Name</label>
                                <input required name="template_name" type="text" placeholder="Template Name"
                                    autocomplete="off" value="" id="template-name" />
                            </div>
                            <div class="d-flex flex-direction-column align-items-start">
                                <label for="">Template Description</label>

                                <input required name="template_description" type="text"
                                    placeholder="Template Description" id="template-description" autocomplete="off"
                                    value="" />
                            </div>
                            <input type="hidden" name="json_file" id="json_file">

                            <!-- <label class="custom-file-upload">
                            <input type="file" />
                            Upload display image
                        </label> -->
                            <div class="d-flex flex-direction-column align-items-start custom-file-upload ">
                                <label for=""> Thumbnail image</label>

                                <input required type="file" name="image" accept='image/*' />

                            </div>

                            <div id="canvas-image-background-page-templates-btn"
                                class="btn btn-sm btn-primary add-bg-img">
                                Canvas Background Image</div>


                            <input type="hidden" name="canvas_image" id="canvas_image">
                            <img src="" width="280" id="canvas-image-view" alt="">
                            <div class="d-flex flex-direction-column align-items-start custom-file-upload">
                                <label for=""> Upload Json File</label>

                                <input required type="file" id="json-file" accept='application/JSON' />

                            </div>

                        </div>
                        <div class="d-flex justify-content-between align-items-end">
                            <div>
                                <button type="submit" id="" class="btn btn-md btn-dark template-btn">sumbit
                                    Template</button>

                            </div>


                        </div>
                    </form>
                </div>
            </div>
            <!-- modal for adding background -->
            <div id="modal-container-add-background-page-templates">
                <div class="modal-content ">
                    <div class="modal-header d-flex justify-content-end">
                        <span class="btn btn-sm btn-danger text text-white close">Close</span>

                    </div>
                    <hr>
                    <div class="modal-body"></div>
                </div>
            </div>

            <div class=" admin-templates" style="width: 100%;">
                <% data.forEach((data)=>{%>


                    <div class="d-flex  align-items-start  flex-direction-column  m-1">
                        <div class=" d-flex  align-items-start flex-direction-column">
                            <img class="thumbnail" src="images/ci/<%= data.thumbnail %>" width="170" alt="">
                            <h3 class="title text text-dark">
                                <%= data.template_name %>
                            </h3>
                            <span style="display:none" class="description">
                                <%= data.template_description %>
                            </span>
                            <input type="hidden" class="template-id" value="<%= data.template_id %>">


                        </div>


                        <!-- buttons -->
                        <div class="d-flex flex-direction-column justify-content-start align-items-start gap-10">
                            <a class="btn btn-sm btn-primary" href="/canvas?template_id=<%= data.template_id %> "
                                target="_blank" style="margin:0; padding:2px 5px">
                                Edit Canvas
                            </a>

                            <div class="btn btn-sm btn-success edit-template select-none"
                                style="margin:0; padding:2px 5px">
                                Edit
                                details</div>
                        </div>
                    </div>


                    <% }) %>


            </div>

            <!-- edit temmplate modal -->
            <div class="modal-edit-admin">
                <form action="/updateTemplate" method="POST" enctype="multipart/form-data">

                    <div class="modal-content">
                        <div>
                            <input type="text" name="template_name" class="title">
                        </div>
                        <div>
                            <textarea name="template_description" class="description"></textarea>
                        </div>
                        <input type="hidden" name="template_id" class="template-id">




                        <div class="d-flex flex-direction-column justify-content-start align-items-start gap-10">
                            <label for="">Thumbnail</label>
                            <input type="file" name="thumbnail-image" class="thumbnail-image p-1">
                            <img class="thumbnail" width="200" src="" alt="">

                        </div>

                        <div class="d-flex flex-direction-column justify-content-start align-items-start gap-10">
                            <label for="">Json File</label>
                            <input type="file" class="json-file p-1">
                        </div>

                        <input type="hidden" name="template_json" class="json-text">

                        <div class="button-container">
                            <div class="btn btn-sm btn-danger text text-white cancel-btn">Cancel Changes</div>
                            <input type="submit" class="btn btn-sm btn-success update-template-btn"
                                value="Save changes">

                        </div>

                    </div>
                </form>
            </div>
        </div>


    </div>

    <script>
        document.getElementById("admin-remove").addEventListener("click", () => {


            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = () => {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    // console.log(xhttp.responseText);

                    let element = document.querySelector('.admin-message')
                    element.innerHTML = xhttp.responseText
                    element.style.display = 'block'

                    setTimeout(() => {
                        element.style.display = 'none'

                    }, 2000)
                }
            };
            xhttp.open(
                "POST",
                `http://localhost:5000/remove`,
                true
            );
            xhttp.send();
        });
    </script>
    <%- include('../include/admin-footer') %>