<%- include('../include/admin-header') %>
    <div class="bg-white p-1 canvas-background-container" style="min-height: 400px;">

        <div class="d-flex justify-content-center flex-direction-column align-items-center">
            <h2>Canvas Background</h2>
            <div class="btn btn-sm btn-success" id="add-background">+ Add Background</div>
        </div>

        <div class="form-background hide d-flex justify-content-center form bg-light p-2">
            <form action="/add-background" method="POST" enctype="multipart/form-data">

                <div class="d-flex flex-direction-column align-items-start">
                    <label for="bg-name">Background Name</label>
                    <input type="text" name="background_name">
                </div>
                <div class="d-flex flex-direction-column align-items-start">
                    <label for="bg-description">Background Description</label>
                    <textarea name="background_description"></textarea>
                </div>
                <div class="d-flex my-2 flex-direction-column align-items-start">
                    <label for="thumbnail_image">Thumbnail-image</label>
                    <input type="file" onchange="checkFile(this,this.files,40000)" id="thumbnail_image"
                        name="thumbnail_image">
                    <br>
                    <img id="display_thumbnail_image" width="400" src="" alt="">
                </div>
                <div class="d-flex my-2 flex-direction-column align-items-start">
                    <label for="bg-image">Background Image</label>
                    <input onchange="checkFile(this,this.files,200000)" type="file" id="background_image"
                        name="background_image">
                    <br>
                    <img id="display_background_image" width="400" src="" alt="">

                </div>

                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-sm btn-primary my-2">

                </div>
            </form>
        </div>
        <div class="background-container my-1">

            <% data.forEach((data)=>{%>


                <!-- <a href="/canvas?id=<%= data.template_id %> " target="_blank"> -->
                <div class="background-content-details  d-flex  justify-content-center flex-direction-column"
                    style="width: 200px;">



                    <img src="images/canvas_image/<%= data.thumbnail_image%>" id="thumbnail-image" width="200" alt="">
                    <input type="hidden" id="thumbnail-path" value="<%= data.thumbnail_image%>">
                    <img src="images/canvas_image/<%= data.background_image%>" id="bg-image" hidden alt="">
                    <input type="hidden" id="bg-path" value="<%= data.background_image%>">

                    <input type="hidden" id="display-bg-id" value="<%= data.background_id %>">
                    <h4 class="text text-dark  ">
                        <%= data.background_name %>
                    </h4>
                    <p style="display:none">
                        <%= data.background_description %>
                    </p>
                    <div class="option">
                        <img src="images/list.png" class="hover-opactiy   option-icon" width="20" alt="">
                        <div class="container hide">
                        </div>
                        <div class="option-list">
                            <div class=" edit-btn ">Edit</div>
                            <div class="publish-btn ">Publish</div>
                            <div class="  delete-btn ">Delete</div>


                        </div>

                        <input type="hidden" id="category" value="<%=data.category%>">
                    </div>



                    <input type="hidden" class="thumbnail_image_path" value="<%= data.thumbnail_image%>">

                    <input type="hidden" class="background_image_path" value="<%= data.background_image%>">


                </div>

                <% }) %>
                    <div class="modal-edit-background">

                        <form action="/update-background" method="POST" enctype="multipart/form-data" class="form">
                            <div class="modal-header">

                                <div class="d-flex justify-content-end " style="width:100%">
                                    <input class="btn btn-sm btn-primary" type="submit" id="create-copy-btn"
                                        value="Save changes">
                                    <div>
                                        <div class="close btn btn-md btn-danger">Cancel changes</div>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <div class="modal-content  ">

                                <div class="d-flex flex-direction-column justify-content-start align-items-start ">
                                    <label for="">Thumbnail Image:</label>
                                    <input name="thumbnail_image" id="modal-thumbnail-image-input" type="file"
                                        style="margin: 5px 0;">
                                    <input type="hidden" name="thumbnail_image_path" class="thumbnail_image_path_modal"
                                        onchange="checkFile(this,this.files,40000)" value="">



                                    <img class="modal-image-thumbnail" width="200" src="" alt="">


                                </div>
                                <div class="d-flex flex-direction-column justify-content-start align-items-start">

                                    <label for="">Background Image:</label>
                                    <input type="file" name="background_image" id="modal-bg-image-input"
                                        style="margin: 5px 0;">
                                    <input type="hidden" value="<%= data.background_image%>"
                                        name="background_image_path" class="background_image_path_modal"
                                        onchange="checkFile(this,this.files,200000)">


                                    <img class="modal-bg-image" width="400" src="" alt="">

                                </div>
                                <div class="details-container my-3">
                                    <div>
                                        <label for="">Background Name:</label><br>

                                        <input type="text" name="background_name" class="modal-title" value="">
                                    </div>


                                    <br>
                                    <input type="hidden" id="bg-id" name="background_id">
                                    <div>
                                        <label for="">Background Description:</label><br>
                                        <textarea name="background_description" class="modal-description" id=""
                                            cols="30" rows="10"></textarea>


                                    </div>

                                    <h3></h3>
                                    <p></p>



                                </div>






                            </div>
                        </form>
                    </div>
        </div>


    </div>

    <script>
        function checkFile(element, files, size) {


            var file = files[0];

            // Check if the file size is within the allowed limit
            if (file.size > size) {

                element.value = ''
                alert("File is too large! Please select a file smaller file.");

                return false;
            }
        }

    </script>
    <%- include('../include/admin-footer') %>