<%- include('../include/user-header') %>

    <div style="min-height: 700px;" class="p-1 bg-white purchased-templates-container">
        <div class="alert alert-danger" style="display:none">
            Template is successfully deleted.
            <span class=" alert-close"> &#x2715</span>
        </div>
        <% if(success_message !='' ){ %>

            <div class=" alert alert-success ">
                You have successfully added a new template "<%- success_message %>".
                    <span class="alert-close"> &#x2715</span>
            </div>




            <% } %>
                <div class="d-flex justify-content-center ">
                    <h4>Your Purchased Templates</h4>
                </div>



                <div class="purchased-templates   py-1" style="width: 100%;">
                    <% data.forEach((data)=>{%>

                        <div class="template-container">

                            <input type="hidden" class="template_id" value="<%= data.template_id %>">
                            <input type="hidden" class="purchased_id" value="<%= data.purchased_id %> ">

                            <% if(data.category==='certificate' ){ %>
                                <% if(certificate_expired===true ){ %>
                                    <%- include('../include/submit-code') %>
                                        <a>
                                            <img src="images/canvas_image/<%= data.thumbnail%>"
                                                class="hover-opactiy d-image" width="200" alt="">



                                            <div class=" text text-dark template-name">
                                                <%= data.template_name %>
                                            </div>

                                        </a>
                                        <small>Expired</small>
                                        <% }else{ %>
                                            <a
                                                href="/canvas-test?template_id=<%= data.template_id %>&id=<%= data.purchased_id %>&category=<%= data.category %> ">
                                                <img src="images/canvas_image/<%= data.thumbnail%>"
                                                    class="hover-opactiy d-image" width="200" alt="">



                                                <div class=" text text-dark template-name">
                                                    <%= data.template_name %>
                                                </div>
                                            </a>
                                            <div class="option">
                                                <img src="images/list.png" class="hover-opactiy gear-option" width="20"
                                                    alt="">
                                                <div class="container hide">
                                                </div>
                                                <div class="delete-template hide">Delete Template</div>
                                            </div>
                                            <% } %>
                                                <% }%>
                                                    <% if(data.category=='invitation' ){ %>

                                                        <a
                                                            href="/canvas-test?template_id=<%= data.template_id %>&id=<%= data.purchased_id %>&category=<%= data.category %> ">
                                                            <img src="images/canvas_image/<%= data.thumbnail%>"
                                                                class="hover-opactiy d-image" width="200" alt="">



                                                            <div class=" text text-dark template-name">
                                                                <%= data.template_name %>
                                                            </div>
                                                        </a>
                                                        <div class="option">
                                                            <img src="images/list.png" class="hover-opactiy gear-option"
                                                                width="20" alt="">
                                                            <div class="container hide">
                                                            </div>
                                                            <div class="delete-template hide">Delete Template</div>
                                                        </div>
                                                        <% } %>
                        </div>

                        <% }) %>
                </div>


    </div>


    <%- include('../include/footer') %>