<%- include('../include/user-header') %>

    <div style="min-height: 700px;" class="p-1 bg-white purchased-templates-container">
        <div class="d-flex justify-content-center ">
            <h4>Your Purchased Templates</h4>
        </div>
        <% if(expired===true ){ %>

            <%- include('../include/submit-code') %>



                <% } %>
                    <% if(success_message !='' ){ %>
                        <div class="text text-center  success-message-container" style="font-weight:100px">
                            <div class="bg-success p-1">
                                You have successfully added a new template!
                            </div>
                            <div class="message">
                                Template Name: <%- success_message %>
                            </div>

                        </div>

                        <% } %>

                            <div class="purchased-templates   py-1" style="width: 100%;">
                                <% data.forEach((data)=>{%>

                                    <div class="template-container">

                                        <input type="hidden" class="template_id" value="<%= data.template_id %>">
                                        <input type="hidden" class="purchased_id" value="<%= data.purchased_id %> ">

                                        <a
                                            href="/canvas?template_id=<%= data.template_id %>&id=<%= data.purchased_id %> ">
                                            <img src="images/ci/<%= data.thumbnail%>" class="hover-opactiy d-image"
                                                width="200" alt="">
                                        </a>


                                        <div class=" text text-dark ">
                                            <%= data.template_name %>
                                        </div>


                                        <div class="option">
                                            <img src="images/list.png" class="hover-opactiy gear-option" width="20"
                                                alt="">
                                            <div class="container hide">
                                            </div>
                                            <div class="delete-template hide">Delete Template</div>
                                        </div>





                                    </div>

                                    <% }) %>
                            </div>


    </div>


    <%- include('../include/footer') %>