<%- include('../include/user-header') %>

    <div style="min-height: 400px;" class="p-1 bg-white purchased-templates-container">
        <div class="d-flex justify-content-center ">
            <h4>Your Purchased Templates</h4>
        </div>
        <% if(success_message !='' ){ %>
            <div class="text text-center  success-message-container" style="font-weight:100px">
                <div class="bg-success p-1">
                    You have successfully added a new template!
                </div>
                <div class="message">
                    Template Name: <%- success_message %>
                </div>

            </div>

            <% } %>

                <div class="purchased-templates    py-1" style="width: 100%;">
                    <% data.forEach((data)=>{%>

                        <div class="hover-opactiy d-flex  justify-content-center flex-direction-column"
                            style="width: 200px;">
                            <a href="/canvas?template_id=<%= data.template_id %> " target="_blank">
                                <input type="hidden" id="display-template-id" value="<%= data.template_id %>">


                                <img src="images/ci/<%= data.thumbnail%>" width="170" class="show-template-details"
                                    alt="">
                                <h4 class="text text-dark show-template-details">
                                    <%= data.template_name %>
                                </h4>
                                <p style="display:none">
                                    <%= data.template_description %>
                                </p>


                            </a>
                        </div>

                        <% }) %>
                </div>


    </div>


    <%- include('../include/footer') %>