<%- include('../include/user-header') %>

    <div class="success-registration-container bg-white p-1 ">
        <div class="d-flex justify-content-center align-items-center flex-direction-column bg-success  p-1 gap-10">
            <img src="images/check.png" width="50" alt="" class="">
            <% if(locals.success_message) { %>
                <span class="<%= success_message.length ?  ' pad-x ' : ''  %> ">
                    <%= success_message %>
                </span>
                <%}%>



        </div>
        <div class="bg-light ">
            <div class="d-flex flex-direction-column align-items-start p-1">
                <% if(locals.temp_data) { %>

                    <small>User name: <b>
                            <%= temp_data.user_name %>
                        </b> </small>
                    <small>Email: <b>
                            <%= temp_data.user_email %>
                        </b> </small>
                    <%}%>
            </div>
            <div class="d-flex justify-content-center align-items-center p-1">

                <a href="/login-page" class="text text-white btn btn-sm btn-primary"> Proceed to login</a>


            </div>
        </div>






    </div>