<%- include('../include/header') %>
    <div class="success-registration-container">
        <div class="d-flex justify-content-center align-items-center flex-direction-column my-5 bg-success p-1 gap-10">
            <img src="images/check.png" alt="" class="">
            <% if(locals.success_message) { %>
                <span class="<%= success_message.length ?  ' pad-x ' : ''  %> ">
                    <b>
                        <%= success_message %>



                    </b>
                </span>
                <%}%>


                    <div class="bg-light d-flex flex-direction-column align-items-start p-1">
                        <% if(locals.temp_data) { %>

                            <small>User name: <b>
                                    <%= temp_data.user_name %>
                                </b> </small>
                            <small>Email: <b>
                                    <%= temp_data.user_email %>
                                </b> </small>
                            <%}%>

                    </div>
                    <div class="btn btn-md btn-dark">
                        Proceed to login
                    </div>
        </div>

    </div>