<%- include('../include/user-header') %>
    <div style="min-height: 400px;" class="p-1 bg-white  ">
        <% if(success_message_subscriber !='' ){ %>

            <div class="alert alert-success">
                You have successfully subscribed! thank you for using our app.
                <span class="btn btn-sm alert-close">Close</span>
            </div>




            <% } %>
                <div class=" ">
                    <h2 class="mb-3">School Templates</h2>

                </div>

                <div class="templates" style="width: 100%;">
                    <% data.forEach((data)=>{%>



                        <div class="templates-container">
                            <input type="hidden" id="display-template-id" value="<%= data.template_id %>">


                            <img src="images/canvas_image/<%= data.thumbnail%>" width="200"
                                class="hover-opactiy  show-template-details" alt="">
                            <input type="hidden" class="modal_image" value="<%= data.modal_image %>">
                            <h4 class="text text-dark show-template-details template-name">
                                <%= data.template_name %>
                            </h4>
                            <p style="display:none">
                                <%= data.template_description %>
                            </p>


                            <!-- create a copy modal -->
                            <div class="modal-activation">
                                <div class="modal-header">
                                    <div>
                                        <span class="modal-title"></span>
                                    </div>
                                    <div>
                                        <div class="close">Close</div>
                                    </div>


                                </div>
                                <hr>
                                <div class="modal-content">

                                    <div class="content">

                                        <div class="img-container">
                                            <img class="modal-image" width="700" alt="">

                                        </div>

                                        <div class="details-container">
                                            <div class="buttons">

                                                <div class="btn btn-sm btn-primary  create-copy-btn  ">
                                                    Create a copy
                                                </div>

                                            </div>


                                            <br>


                                            <input type="hidden" id="template-name">

                                            <input type="hidden" id="template-id">
                                            <span class="modal-description"></span>
                                            <span></span>
                                            <h3></h3>
                                            <p></p>



                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <% }) %>



                            <%- include('../include/input-message') %>


                </div>
    </div>




    <%- include('../include/footer') %>